#slideshow {list-style:none;}
#slideshow span {display:none}
#wrapper {width:900px; display:none;}
#wrapper * {margin:0; padding:0;-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	 border-radius:10px;}
#fullsize {position:relative; height:512px;}
#image {width:auto;}
#image img {position:absolute; margin:auto; top:0; left:0; right:0; bottom:0; z-index:25; width:auto; height:512px;}
.imgnav {position:absolute; width:10%; height:512px; cursor:pointer; z-index:150}
#imgprev {left:0; padding-top:150px;}
#imgnext {right:0; padding-top:150px;}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(images/link.gif) center center no-repeat}
#thumbnails {margin-top:15px; display:inline;}
#slideleft {float:left; width:23px; height:47px; margin-top:10px; }
#slideright {float:right; width:23px; height:47px; margin-top:10px; }
#slidearea {float:left; position:relative; width:700px; margin-left:5px; margin-top:10px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer;}
.clips_area{width:900px; margin:0px; padding:0px; background-color:#ebebeb; border:1px solid #ccccca;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	 border-radius:10px;
}
