/* Ticker Styling */
.ticker-wrapper.has-js {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	display: block;
	font-size: 12px;
	float:left;
}
.ticker {
	width: 800px;
	height: 23px;
	display: block;
	position: relative;
	overflow: hidden;
	font-family:arial;
	/*background-color: #f8f0db;*/
}
.ticker-title {
	/*padding-top: 9px;
	color: #990000;
	font-weight: bold;
	background-color: #f8f0db;
	text-transform: uppercase;*/
	display:none;
	padding:0px; margin:0px auto;
}
.ticker-content {
	margin: 0px;
	padding-top: 6px;
	position: absolute;
	color: #FFFFFF;
	font-weight: normal;
/*	background-color: #f8f0db;
*/	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
	float:left;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	color: #FFFFFF;
}
.ticker-content a:hover {
	text-decoration: underline;	
	color: #0D3059;
}
.ticker-swipe {
	padding-top: 6px;
	position: absolute;
	top: 0px;
/*	background-color: #f8f0db;
*/	display: block;
	/*width: 750px;*/
	height: 23px; 
}
.ticker-swipe span {
	margin-left: 0px;
	/*background-color: #f8f0db;
	border-bottom: 1px solid #FFFFFF;*/
	height: 12px;
	width: 0px;
	display: block;
}
.ticker-controls {
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 0px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
/*.ticker-controls li.jnt-play-pause {
	background-image: url('../images/controls.png');
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('../images/controls.png');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('../images/controls.png');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('../images/controls.png');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
*/
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 2px 0px 0px 2px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 0px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}