@charset "utf-8";
/* CSS Document */
img{border:none;}
body{margin:0px; padding:0px; -webkit-font-smoothing:antialiased; background-color:#ffffff; word-wrap:break-word; font-size:13px; color:#333333; font-family:arial; text-align:justify;}
.clear{clear:both; margin:0px; padding:0px; border:0px; height:0px; font-size:0px;}
.style1{padding:4px; margin:0px; background-color:#cacac9;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	 border-radius:5px;
}
.style2{font-size:18px; color:#2c2b2b; line-height:20px; font-weight:bold;}
.style3{}
.style4{font-family:BlairMdITC TT; font-size:30px; color:#333333;}
.style5{font-size:12px; color:#918f8f; line-height:20px;}
.style5 a{text-decoration:none; color:#918f8f; display:block;}
.style6{font-size:20px;}
.style7{font-size:11px; color:#000; line-height:13px;}
.style8{font-family:BlairMdITC TT; font-size:14px; color:#333333;}
.style9{color:#F00;}

.input1{width:712px; height:17px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; background:url(images/input-bg.jpg) repeat-x top left; border:none;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	 border-radius:10px;
}
.input2{width:712px; height:255px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; background-color:#d9d9da; border:none;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	 border-radius:5px;
}
.submit{width:98px; height:16px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; background:url(images/submit-bg.jpg) repeat-x top left; border:1px solid #bdbcbc; cursor:pointer; font-family:Verdana; color:#333; font-size:12px; line-height:13px;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	 border-radius:10px;
}

.wrapper{width:1083px; margin:0px auto; padding:0px; background:url(images/home-bg.png) no-repeat top center;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);	
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-khtml-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);	
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	 border-radius:10px;
}
/*.content_area{margin:0px; padding:0px; position:relative;}*/
.social_media{width:25px; height:161px; margin:0px; padding:0px; position:fixed; z-index:99; right:30px; top:230px;}
.menu{margin:0px; padding:0px;}
.menu ul{margin:0; padding:0px 35px 0px 0px; list-style:none; float:right;}
.menu ul li{display:block; position:relative; float:left; padding:0px 21px;}
/*.menu ul li:first-child{padding-left:0px; background:none;}*/
.menu ul li:last-child{padding-right:0px;}
.menu ul li a{display:block; text-decoration:none; font-family:arial; font-size:16px; color:#FFF; padding:0px 0px 0px 0px; margin:0px; white-space:nowrap; line-height:16px; font-weight:bold; /*text-transform:uppercase;*/ text-shadow:1px 1px 15px #000000;}
.menu ul li a:hover{/*background:#dfdedf;*/ color:#FFF; margin:0px; padding:0px;}
.menu ul li .active{/*background:#dfdedf;*/ color:#;}
.menu li:hover{background:# !important;/* border-radius:15px; -moz-border-radius:15px;*/}
.menu li ul{background:url(images/dropdown-bg.png) no-repeat top left; display:none; width:112px;  padding:0px; margin:0px 0px 0px 5px; position:absolute; z-index:9999999;}
.menu li:hover ul{display:block;}
.menu li li {display:block; float:left; margin-right:0px; padding:0; width:112px; text-align:left;}
.menu li:hover li a{}
.menu li ul a{display:block; font-size:13px; font-weight:normal; margin:0px; padding:0px 0px 0px 40px; line-height:20px; color:#FFFFFF;}
.menu ul a:hover{order:0px; color:#8c8c8c; text-decoration:none; padding:0px 0px 0px 40px;} 
.menu li ul li:hover a{border:0px; color:#8c8c8c; text-decoration:none; padding:0px 0px 0px 40px; line-height:20px;}

.menu_in{margin:0px; padding:0px;}
.menu_in ul{margin:0; padding:0px 35px 0px 0px; list-style:none;}
.menu_in ul li{display:block; position:relative; float:left; padding:0px 22px;}
.menu_in ul li a{display:block; text-decoration:none; font-family:arial; font-size:16px; color:#242424; padding:0px; margin:0px; white-space:nowrap; line-height:16px;}
.menu_in ul li a:hover{/*background:#dfdedf;*/ color:#8c8c8c;}
.menu_in ul li .active{/*background:#dfdedf;*/ color:#8c8c8c;}

.menu_in ul li:hover{background:# !important;/* border-radius:15px; -moz-border-radius:15px;*/}
.menu_in ul li ul{background:url(images/dropdown-bg.png) no-repeat top left; display:none; width:112px;  padding:0px; margin:0px 0px 0px 5px; position:absolute; z-index:9999999;}
.menu_in li:hover ul{display:block;}
.menu_in li li {display:block; float:left; margin-right:0px; padding:0; width:112px;}
.menu_in li:hover li a{}
.menu_in li ul a{display:block; font-size:13px; font-style:normal; margin:0px; padding:0px 0px 0px 40px; line-height:20px; color:#FFFFFF;}
.menu_in li ul a:hover{order:0px; color:#000000; text-decoration:none; padding:0px 0px 0px 40px;} 
.menu_in li ul li:hover a{border:0px; color:#000000; text-decoration:none; padding:0px 0px 0px 40px; line-height:20px;}

.footer{width:910px; padding:0px; margin:0px auto; font-family:Myriad Pro; font-size:12px; color:#FFFFFF; background:url(images/home-footerbg.png) no-repeat top center;}

.shows{margin:0px; padding:0px; font-size:14px; line-height:16px; color:#333333;}
.shows img{padding:7px 8px; border:none;}
.shows_block{width:355px; height:196px; margin:0px; padding:0px; font-family:Myriad Pro; font-size:14px; color:#333333; background:url(images/shows/block-bg.png) no-repeat top center;}
.shows_block img{padding:0px 0px 0px 30px;}

.press_slider{width:910px; height:513px; margin:0px; padding:0px; background-color:#ebebeb; border:1px solid #ccccca;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	 border-radius:10px;
}
.clips_area{width:1124px; margin:0px; padding:0px; background-color:#ebebeb; border:1px solid #ccccca;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	 border-radius:10px;
}
.clips_block{width:245px; margin:0px; padding:0px; border:1px solid #b9b9b9;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	 border-radius:10px;
}
.about_area{margin:0px; padding:0px; font-size:12px; line-height:16px;}
.form_area{margin:0px; padding:0px; font-size:13px; color:#666766; font-family:Verdana;}
.gal_thumb{margin:0px; padding:0px;}
.gal_thumb img{margin:0px; padding:0px 14px 0px 0px;}
