@charset "utf-8";
/* CSS Document */

p{margin:0px; padding:0px;}
img{margin:0px; padding:0px; border:0px;}
ul{margin:0px; padding:0px;}
ul li{margin:0px; padding:0px; list-style:none;}
*{ margin:0; padding:0; }
html, body{height:100%;}
a{margin:0px; padding:0px; text-decoration:none; color:#000;}
a:hover{margin:0px; padding:0px; text-decoration:none;}
.clear{clear:both; margin:0px; padding:0px; border:0px; height:0px; font-size:0px;}
body{margin:0px; padding:0px; -webkit-font-smoothing:antialiased; font-family:arial; font-size:12px; line-height:20px; color:#000; text-align:justify; word-wrap:break-word; background:url(images/bg.jpg) repeat top left;}
.clear{clear:both; margin:0px; padding:0px; border:0px; height:0px; font-size:0px;}
h1{margin:0px; font-weight:normal; font-family:Arial; color:#000; font-size:31px; line-height:36px; font-weight:normal; word-wrap:break-word;}
h2{font-family:MyriadPro; font-size:19px; color:#333333; font-weight:normal;}
h3{font-family:MyriadPro; font-size:14px; color:#333333; font-weight:normal;}

.style1{font-size:12px;}
.style1 a{text-decoration:none; color:#000;}
.style1 a:hover{color:#39F}
.style2{font-family:MyriadPro;}
.style3{font-size:14px; color:#FFF;}
.style4{font-size:14px; background:url(images/arrow1.png) no-repeat left center; padding-left:15px;}

#main{width:100%; margin:0px; padding:0px;}
.headerline1{width:100%; height:22px; background-color:#444444; margin:0px; padding-left:30px; color:#FFF;}
.headerline2{width:100%; height:22px; background-color:#bcbcbc; margin:0px; padding:0px;}

.line1{background:#d9d6d6;}
.line2{background:#e6e6e6;}
.line2 img{ float:left; width:auto }
.line3{ background:#d9d6d6; padding:20px 0 20px 30px}
.line16{ background:#e6e6e6; padding:20px 0 20px 30px}
.line3 img{  }
.line5{ background:#e6e6e6; text-align:center;}
.line5 img{ padding:15px 0 20px 30px; float:left; width:auto }

.line9{background:#e6e6e6; text-align:center;}
.line9 img{ width:auto; padding:4px 0 }
.gal_area{margin:0px; padding:0px;}
.gal_area img{padding:4px 0px;}


.line10{ background:#d9d6d6; text-align:center;}
.line10 img{ width:auto; padding:4px 0 }

.line11{ background:#d9d6d6; text-align:center; padding:10px 0}

.line1 p span,.line2 p span { float: left; margin: 5px 33px 3px 51px;}
.menu{width:100%; margin:0px; padding:0px;}
.menu ul{list-style:none; margin:0px; padding:0px;}
.menu ul li{float:left; margin:0px; padding:0px 23px; line-height:16px;}
.menu ul li:first-child{padding-left:0px;}
.menu ul li:last-child{padding-right:0px;}
.menu ul li a{font-family:arial; font-size:16px; line-height:16px; color:#242424; text-transform:uppercase; text-decoration:none;}
.menu ul li a:hover{color:#8c8c8c;  text-decoration:none;}
.menu ul li .active{color:#8c8c8c;  text-decoration:none;}

.contaner{width:1131px; margin:0 auto; padding:0px;}
.contaner h1{ text-align:center; margin:67px 0 60px 0}

.input1{width:263px; height:14px; border:#9e9990 1px solid}
.input2{width:98px; height:16px; border:1px solid #bdbcbc; font-size:12px; color:#000; text-align:center; background:url(images/button-bg.jpg) repeat-x top left; cursor:pointer;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	-khtml-border-radius:15px; 
	 border-radius:15px;
}
.input4{border:1px solid #030100; height:16px; margin:0px; position:relative; text-align:center; width:37px; height:18px;}
.input5{border:none; font-size:11px; padding:2px 21px; float:left; background:url(images/button2.png) 0 0 no-repeat;}
.input6{width:254px; height:13px; border:#9e9990 1px solid; margin:0px; font-size:12px; font-family:Helvetica (T1); padding:0px 5px;}
.input7{border:1px solid #333333; height:16px; margin:0px; text-align:center; width:38px;}

.savesort{ margin:15px 0 0 0}

.input16{width:254px; height:13px; border:#9e9990 1px solid; margin:0px; font-size:12px; font-family:Helvetica (T1); float:left; padding:0 5px}
.input18{width:164px; height:15px; border:#9e9990 1px solid;/* margin:3px 13px ;*/ font-size:12px; font-family:"Helvetica (T1)";  padding:0 5px}

.input19{width:82px; height:15px; border:#9e9990 1px solid;/* margin:3px 13px ;*/ font-size:12px; font-family:"Helvetica (T1)"; float:left; padding:0 5px}

.input17{ background:url(images/button2.png) 0 0 no-repeat; border:none; font-size:11px; padding:2px 34px; float:left;}

.input12{border: 1px solid #ff0000;
    height: 16px;
    margin: 3px 48px;
    text-align: center;
    width: 38px;}
.input13{border: 1px solid #000;
    height: 25px;
    margin: 3px 48px;
    text-align: center;
    width: 38px;}		
	
.input8{ background:url(images/button2.png) 0 0 no-repeat; border:none; font-size:11px; padding:2px 10px; float:left;}

.input9{ background:url(images/button2.png) 0 0 no-repeat; border:none; font-size:11px; padding:2px 33px; float:left; margin:10px 0 0 0;}	

.line6{ background:#d9d6d6; text-align: center; padding:4px 0}
.align { text-align:left; }
.style14 h2,.style14 h3,.style14 ul{ margin:0 0 0 45px}
.line6 ul li{ background:url(images/arrow.png) left center no-repeat; padding-left:13px}
.scorl{overflow:scroll ; margin:0 0 0 30px; padding:10px 10px; height:300px; width:600px; background:#FFF; border-bottom:#cfcfcf 1px solid; }

.tunes{margin:0 auto; color:#333333; line-height:18px; padding:10px 0 0 0;}
.padding{padding:10px 0;}
.settings{width:148px; height:13px; margin:0px; padding:0px; border:1px solid #9e9990; line-height:13px;}
.settings a{display:block;}
.error{color:#FF0000};